@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 0 0% 100%;
    --foreground: 0 0% 0%;
    --background: 0 0% 92%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 240 5.88% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 83.53%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 65.33% 44.12%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 268.24 42.5% 84.31%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  :root::--webkit-scrollbar {
    display: none;
  }

  .dark {
    --card: 0 0% 0%;
    --foreground: 0 0% 98.04%;
    --background: 240 10% 3.92%;
    --card-foreground: 0 0% 98.04%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 244.75 66.51% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 7.84%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 3.7% 15.88%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}